main{
    font-family: 'Red Hat Display', sans-serif;
    text-align: center;
    
}
.img{
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}
.intr{
    
    text-align: center;
}
.promo{
    ;
}